<%- include('./partials/header')%>
<%- include('./partials/nav')%>

    <div class="flex m-auto w-[60vw] mt-10 gap-10 items-center">
        <%- include('./partials/signup')%>
        <%- include('./partials/login')%>
    </div>

<%- include('./partials/footer')%>